function initUsers() {
	$.ajax({
		type: "GET",
		url: "./api/user",
		dataType: "json",
		success: function (data) {					
			$(data).each(function(i, item) {
				if (item.role == "admin" || item.role == "user") {
					var usersHTML = getUserHTML(item._id, item.userid, item.role, item.name);
					$("#usersTable").append(usersHTML);						
				}
			})
		}
	});	
}

function addNewUser() {
	if ($("#newUserUserId").val() == "" || $("#newUserName").val() == "" || $("#newUserPassword").val() == "" || $("#newUserConfirmPw").val() == "") {
		showAndDismissAlert("danger", "All fields are required for adding a new user.", "usersAlert");
	} else if ($("#newUserPassword").val() != $("#newUserConfirmPw").val()) {
		showAndDismissAlert("danger", "Password and password again are not the same.", "usersAlert");
//Not needed anymore (OCB connection). Left here commented out for possible later use
		/*	} else if ($("#ocb_host").val() == "" || $("#ocb_port").val() == "") {
		showAndDismissAlert("danger", "OCB Host and OCB Port need to be defined in the Settings tab to be able to add users.", "usersAlert");*/				
	} else {				
//		$("#newUserOCBHost").val($("#ocb_host").val());
//		$("#newUserOCBPort").val($("#ocb_port").val());
		$.ajax({
			url: "./api/user",
			type: "POST",
			data: $("#newUser").serialize()
		}).done(function(data) {				
			$.ajax({
				type: "GET",
				url: "./api/user",
				dataType: "json",
				success: function (data2) {		
					$("#usersTable").empty();
					$(data2).each(function(i, item) {
						if (item.role == "admin" || item.role == "user") {
							var userHTML = getUserHTML(item._id, item.userid, item.role, item.name);
							$("#usersTable").append(userHTML);						
						}
					})
					showAndDismissAlert("success", "New user added!", "usersAlert");
				}
			});						
		}).fail(function(xhr, status, err) {
			showAndDismissAlert("danger", xhr.responseText, "usersAlert");				
		});				
	}
	return false;
}

function deleteUser(id) {			
	bootbox.confirm("Are you sure you want to delete the user?", function(result) {
		if (result == true) {
//Not needed anymore (OCB connection). Left here commented out for possible later use
//			if ($("#ocb_host").val() == "" || $("#ocb_port").val() == "") {
//				showAndDismissAlert("danger", "OCB Host and OCB Port need to be defined in the Settings tab to be able to add users.", "usersAlert");				
//			} else {							
				$.ajax({
//					url: "./api/user/" + id + "/" + $("#ocb_host").val() + "/" + $("#ocb_port").val(),
					url: "./api/user/" + id,
					type: 'DELETE',
					success: function(result) {
						$("#" + id).remove();
						showAndDismissAlert("success", "User deleted succesfully!", "usersAlert");
					},
					error: function(xhr, status, error) {
						var err = eval("(" + xhr.responseText + ")");
						showAndDismissAlert("danger", err.Message, "usersAlert");	
					}
				});
// See up			}
		}
	});
	return false;			
}

function updateUser(id) {
	var userData = "userid=" + encodeURIComponent($("#userid_" + id).val()) + "&role=" + encodeURIComponent($("#role_" + id).val());
	if ($("#name_" + id).val() != "") {
		userData += "&name=" + encodeURIComponent($("#name_" + id).val());
	}
	if ($("#password_" + id).val() != "") {
		userData += "&password=" + encodeURIComponent($("#password_" + id).val());
	}
	if ($("#password_" + id).val() != "" && $("#password_" + id).val() != $("#confirm_pw_" + id).val()) {
		showAndDismissAlert("danger", "Password and password again are not the same.", "usersAlert");
//Not needed anymore (OCB connection). Left here commented out for possible later use
//	} else if ($("#ocb_host").val() == "" || $("#ocb_port").val() == "") {
//		showAndDismissAlert("danger", "OCB Host and OCB Port need to be defined in the Settings tab to be able to update users.", "usersAlert");				
	} else {				
//		$("#newUserOCBHost").val($("#ocb_host").val());
//		$("#newUserOCBPort").val($("#ocb_port").val());
		$.ajax({
			url: "./api/user/" + id,
			type: "PUT",
			data: userData
		}).done(function(data) {							
			showAndDismissAlert("success", "User updated!", "usersAlert");
		}).fail(function(xhr, status, err) {
			showAndDismissAlert("danger", xhr.responseText, "usersAlert");				
		});				
	}
	return false;
	
}

function getUserHTML(id, userid, role, name) {
	var userHTML = "<tr id=\"updateUser_" + id + "\">" +	
		"<td><input type=\"text\" class=\"form-control\" id=\"userid_" + id + "\" value=\"" + userid + "\"/></td>" +
		"<td><select class=\"form-control\" id=\"role_" + id + "\"><option value=\"admin\"";
	if (role == "admin") {
		userHTML += " selected";
	}
	userHTML += ">Admin</option><option value=\"user\"";
	if (role == "user") {
		userHTML += " selected";
	}						
	userHTML += ">User</option></select></td>" +													
		"<td><input type=\"text\" class=\"form-control\" id=\"name_" + id + "\" value=\"" + name + "\" required/></td>" +
		"<td><input type=\"password\" class=\"form-control\" id=\"password_" + id + "\" value=\"\"/></td>" +
		"<td><input type=\"password\" class=\"form-control\" id=\"confirm_pw_" + id + "\" value=\"\"/></td>" +
		"<td><button type=\"button\" class=\"btn btn-primary btn-block\" onClick=\"updateUser(\'" + id + "\')\">Update</button></td><td><button type=\"button\" class=\"btn btn-primary btn-block\" onClick=\"deleteUser(\'" + id + "\')\"";
	if (role == "admin") { 
		//userHTML += " disabled";  // SHOULD DELETING ADMINS BE DISABLED? paju's comment: not yet needed, admin should generally be able to do everything (sane)
	}														
	userHTML += ">Delete</button></td></tr>";	
	return userHTML;
}
