<section style="overflow-x: auto; overflow-y: auto;">
	<canvas id="overviewFloorplan" onmousedown="setSensorLocation(event)" style="margin-top:20px; <!--width: 100%; height: auto-->">
		Sorry, your browser doesn't support the &lt;canvas&gt; element.
	</canvas>
	<canvas id="overviewFloorplanOriginScale">
		Sorry, your browser doesn't support the &lt;canvas&gt; element.
	</canvas>
</section>

<h3 style="border-bottom: 2px solid blue;">Robots:</h3>

<table id="robotsOverviewTable" class="table table-responsive table-striped" style="width: 90%; margin-top: 20px; margin: 0px auto; float: none;">
	<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col">ID</th>
			<th scope="col">RAN status</th>
			<th scope="col">Pos X</th>
			<th scope="col">Pos Y</th>
			<th scope="col">Theta</th>
		</tr>
	</thead>
	<tbody id="robotsOverviewTbody"></tbody>
</table>

<h3 style="border-bottom: 2px solid green;">Sensors:</h3>

<table id="sensorsOverviewTable" class="table table-responsive table-striped" style="width: 90%; margin-top: 20px; margin: 0px auto; float: none;">
	<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col">ID</th>
			<th scope="col">Type</th>			
			<th scope="col">Pos X</th>
			<th scope="col">Pos Y</th>
			<th scope="col" style="text-align:center">Set position</th>
		</tr>
	</thead>
	<tbody id="sensorsOverviewTbody"></tbody>
</table>

<!--
<h3>System messages</h3>
<table id="overviewTable" class="table table-responsive">
  <thead>
	<tr>
	  <th scope="col">ID</th>
	  <th scope="col">Message</th>					 
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td>AGV 2345</td>
	  <td>Battery low</td>					  
	</tr>
	<tr>
	  <td>Kalle</td>
	  <td>Started lunch</td>						  
	</tr>
	<tr>
	  <td>AGV 2224</td>
	  <td>Charging complete</td>
	</tr>						
  </tbody>
</table>
-->	