<!--
<h3>System messages</h3>
<table id="overviewTable" class="table table-responsive">
  <thead>
	<tr>
	  <th scope="col">ID</th>
	  <th scope="col">Message</th>					 
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td>AGV 2345</td>
	  <td>Battery low</td>					  
	</tr>
	<tr>
	  <td>Kalle</td>
	  <td>Started lunch</td>						  
	</tr>
	<tr>
	  <td>AGV 2224</td>
	  <td>Charging complete</td>
	</tr>						
  </tbody>
</table>
-->	