function initTaskSpecifications(ngsiConnection) {
	ngsiConnection.v2.listEntities({type: "TaskSpec"}).then((response) => {
		var entities = response.results;
		$.each(entities, function(i, entity) {
			var taskId = entity.id;
			console.log("1");
			var task = urldecode(entity.TaskSpec.value);
			ngsiConnection.v2.listEntities({type: "TaskSpecState"}).then((response2) => {
				var entities2 = response2.results;
				$.each(entities2, function(i, entity2) {
					console.log("2");					
					if (entity2.refId !== undefined && entity2.state !== undefined && entity2.message !== undefined && entity2.refId.value == taskId) {
						console.log("3");						
						var taskStatus = entity2.state.value;
						console.log("4");
						var taskMessage = entity2.message.value;
						console.log("5");
						var taskHTML = getTaskSpecificationHTML(taskId, taskStatus, taskMessage, task);		
						$("#taskSpecifications").append(taskHTML);
					}
				});
			});
		});
	});					
}

function initCurrentTasks(ngsiConnection) {
	ngsiConnection.v2.listEntities({type: "Task"}).then((response) => {
		var entities = response.results;
		$.each(entities, function(i, entity) {
			var taskId = entity.id;
			var taskDescription = entity.taskName.value;
			var taskStatus = entity.state.value;		
			var time = entity.time.value;	
			var taskHTML = getCurrentTaskHTML(taskId, taskDescription, taskStatus, time);
			$("#currentTasks").append(taskHTML);			
		});
	});					
}

function updateTaskSpecifications(notification) {							   
	$.each(notification.data, function () {		
		if (this.refId !== undefined && this.state !== undefined && this.message !== undefined) {	
			var taskId = this.refId.value
			var taskStatus = this.state.value;
			var taskMessage = this.message.value;	
			if ($("#taskSpecification_" + taskId).length) {
				var taskStatusStr = "";
				if (taskStatus == 0) {
					taskStatusStr = "Idle";
				} else if (taskStatus == 1) {
					taskStatusStr = "Ok";
				} else if (taskStatus == -1) {
					taskStatusStr = "Error";
				}
				$("#taskSpecification_status_" + taskId).html(taskStatusStr);
				$("#Message_" + taskId).html(taskMessage);
			}		
		}			
	});
}

function updateCurrentTasks(notification) {							   
	$.each(notification.data, function () {		
		var taskId = this.id;
		var taskStatus = this.state.value;		
		var taskStatusStr = "";
		if (taskStatus == 0) {
			taskStatusStr = "Idle";
		} else if (taskStatus == 1) {
			taskStatusStr = "Running";
		} else if (taskStatus == 2) {
			taskStatusStr = "Waiting";
		} else if (taskStatus == 3) {
			taskStatusStr = "Active";
		} else if (taskStatus == 4) {
			taskStatusStr = "Finished";
		} else if (taskStatus == 5) {
			taskStatusStr = "Aborted";
		} else if (taskStatus == 6) {
			taskStatusStr = "Error";
		}		
		var taskDescription = this.taskName.value;			
		var time = this.time.value;			
		if ($("#currentTask_" + taskId).length) {
			$("#currentTask_status_" + taskId).html(taskStatusStr);
			$("#currentTask_description_" + taskId).html(taskDescription);
			$("#currentTask_time_" + taskId).html(time);
		} else {
			var taskHTML = getCurrentTaskHTML(taskId, taskDescription, taskStatusStr, time);
			$("#currentTasks").append(taskHTML);			
		}			
	});
}

function getTaskSpecificationHTML(taskId, taskStatus, taskMessage, task) {
	return "<tr id=\"taskSpecification_" + taskId + "\" class=\"clickable-row\"><td>" + taskId + "</td><td id=\"taskSpecification_status_" + taskId + "\">" + taskStatus + "</td><td id=\"Message_" + taskId + "\">" + taskMessage + "</td><td><textarea id=\"TaskSpec_" + taskId + "\" rows=\"4\" readonly>" + task + "</textarea></td></tr>";
	/*<td><button onclick=\"cancelTask('" + taskId + "')\">Cancel</button></td></tr>";*/
}

function getCurrentTaskHTML(taskId, taskDescription, taskStatus, time) {
	return "<tr id=\"currentTask_" + taskId + "\" class=\"clickable-row\"><td>" + taskId + "</td><td id=\"currentTask_description_" + taskId + "\">" + taskDescription + "</td><td id=\"currentTask_status_" + taskId + "\">" + taskStatus + "</td><td id=\"currentTask_time_" + taskId + "\">" + time + "</td></tr>";
	/*<td><button onclick=\"cancelTask('" + taskId + "')\">Cancel</button></td></tr>";*/
}

function sendTaskSpecification() {
	if ($.trim($("#taskDescriptionTextArea").val()) != "") {
		$.ajax({
			type: "GET",
			url: "./api/config",
			dataType: "json",
			success: function (data) {					
				var ngsiConnection = null;
				$(data).each(function(i, item) {							
					ngsiConnection = new NGSI.Connection("http://" + item.ocb_host + ":" + item.ocb_port, {
						ngsi_proxy_url: "http://" + item.ngsi_proxy_host + ":" + item.ngsi_proxy_port
					});
				})
				if (ngsiConnection != null) {
					var taskId = "TaskSpec_" + Math.random().toString(36).substring(2) + (new Date()).getTime().toString(36);
					ngsiConnection.v2.createEntity({
						"id": taskId,
						"type": "TaskSpec",
						"TaskSpec": {
							"type": "Text",
							"value": urlencode($("#taskDescriptionTextArea").val())
						}
					}).then(
						(response) => {
							// Entity created successfully
							var newTaskHTML = getTaskSpecificationHTML(taskId, "&nbsp;", "&nbsp;", $("#taskDescriptionTextArea").val());
							$("#taskSpecifications").append(newTaskHTML);
							$("#taskDescriptionTextArea").val("");							
							showAndDismissAlert("success", "Task sent succesfully!", "taskManagementAlert");
						}, (error) => {
							console.log(error);
							// Error creating the entity
							showAndDismissAlert("error", "There was an error sending the task (" + error + ")!", "taskManagementAlert");
						}
					);
				}
			}
		});
	}
}

/*
function cancelTask(taskId) {
	bootbox.confirm("Are you sure you want to cancel the task?", function(result) {
		if (result == true) {
			$.ajax({
				type: "GET",
				url: "./api/config",
				dataType: "json",
				success: function (data) {					
					var ngsiConnection = null;
					$(data).each(function(i, item) {							
						ngsiConnection = new NGSI.Connection("http://" + item.ocb_host + ":" + item.ocb_port, {
							ngsi_proxy_url: "http://" + item.ngsi_proxy_host + ":" + item.ngsi_proxy_port
						});
					})
					if (ngsiConnection != null) {		
						ngsiConnection.v2.listEntities({type: "TaskSpecState"}).then((response) => {
							var entities = response.results;
							$.each(entities, function(i, entity) {
								if (entity.refId.value == taskId) {									
									ngsiConnection.v2.deleteEntity(entity.id).then(
										(response) => {
									}, (error) => {}
									);
								}
							});
						});
						ngsiConnection.v2.deleteEntity(taskId).then(
							(response) => {
								$("#taskSpecification_" + taskId).remove();
								// Entity deleted successfully
								// response.correlator transaction id associated with the server response
								showAndDismissAlert("success", "Task canceled succesfully!", "taskManagementAlert");
							}, (error) => {
								// Error deleting the entity
								// If the error was reported by Orion, error.correlator will be
								// filled with the associated transaction id
								showAndDismissAlert("error", "There was an error canceling the task (" + error + ")!", "taskManagementAlert");
							}
						);
					}
				}
			});			
		}
	});
	return false;
}
*/