<div id="taskManagementAlert"></div>

<div class="well ownborder">
    <h3>Create a new material flow</h3>
	<form>
		<div class="form-group">
			<label for="taskDescriptionTextArea">Task specification:</label>
			<textarea class="form-control" id="taskDescriptionTextArea" rows="8"></textarea>
		</div>
		<div class="form-group">						
			<button class="btn btn-primary" id="sendMaterialFlow">Send material flow</button>
		</div>
	</form>
</div>

<div class="well ownborder">
	<h3>Sent material flows:</h3>
	<table class="table table-responsive">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">State</th>
				<th scope="col">Message</th>	  
				<th scope="col">Task Specification</th>		
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody id="materialFlows"></tbody>
	</table>
</div>

<div class="well ownborder">
	<h3>Transport orders</h3>
	<table id="transportOrdersTable" class="table table-responsive">
		<thead>
			<tr>
				<th scope="col">ID</th>				
				<th scope="col">Pickup From</th>	
				<th scope="col">Deliver To</th>
				<th scope="col">Name</th>			
				<th scope="col">Material Flow Id</th>	
				<th scope="col">Owner Id</th>	
				<th scope="col">Task Info</th>	
				<th scope="col">Updated</th>					
				<th scope="col">Started</th>
			</tr>
		</thead>
		<tbody id="transportOrders"></tbody>
	</table>
</div>