
<div id="taskManagementAlert"></div>

<!--
<table id="taskManagementTable" class="table table-responsive">
  <thead>
	<tr>
	  <th scope="col">Task</th>
	  <th scope="col">Status</th>
	  <th scope="col">Task Description</th>						 
	</tr>
  </thead>
  <tbody>
	<tr class="clickable-row">
	  <td>1234</td>
	  <td>Running</td>
	  <td>Load AGV X</td>						 
	</tr>
	<tr class="clickable-row">
	  <td>2345</td>
	  <td>Running</td>
	  <td>Load AGV X</td>						 
	</tr>
	<tr class="clickable-row">
	  <td>6666</td>
	  <td>Running</td>
	  <td>Unload AGV X</td>						 
	</tr>
  </tbody>
</table>
-->

<form>
	<div class="form-group">
		<label for="taskDescriptionTextArea">Task description</label>
		<textarea class="form-control" id="taskDescriptionTextArea" rows="8"></textarea>
	</div>
	<div class="form-group">						
		<button class="btn btn-primary" id="sendTask">Send task</button>
	</div>
</form>						
<!--<div><button id="cancelTask" style="margin-right:20px;">Cancel selected task</button><button id="cancelTask">Cancel task</button></div>-->