<div class="tab-pane" id="sensorData">
	<div class="panel panel-default">
		<div class="panel-heading">Sensor Agent Node - Current Sensor</div>
		<div class="panel-body"><canvas id="csChart" width="400" height="100"></canvas></div>
	</div>					
	<div class="panel panel-default">
		<div class="panel-heading">Sensor Agent Node - Switch Sensor</div>
		<div class="panel-body"><canvas id="ssChart" width="400" height="100"></canvas></div>
	</div>
</div>