<div id="taskManagementAlert"></div>

<div>
    <h3>Create a new BPO task specification</h3>
	<form>
		<div class="form-group">
			<label for="taskDescriptionTextArea">Task specification</label>
			<textarea class="form-control" id="taskDescriptionTextArea" rows="8"></textarea>
		</div>
		<div class="form-group">						
			<button class="btn ownButton" id="sendBPO">Send task specification</button>
		</div>
	</form>
</div>
<div style="margin-top:30px"></div>
<div>
	<h3>Sent task specifications</h3>
	<table>
		<thead>
			<tr>
				<th scope="col">Task specification ID</th>		
				<th scope="col">Task Specification</th>					
				<th scope="col">&nbsp;</th>
			</tr>
		</thead>
		<tbody id="BPOSpecs"></tbody>
	</table>
</div>
<div style="margin-top:30px"></div>
<div>
	<h3>BPO Specification Outputs</h3>
	<table id="BPOSpecificationOutputTable">
		<thead>
			<tr>
				<th scope="col">ID</th>		
				<th scope="col">BPO Specification Output</th>
			</tr>
		</thead>
		<tbody id="BPOSpecificationOutput"></tbody>
	</table>
</div>
