<!doctype html>
<head>
<title>Testing NGSI</title>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/js/NGSI.js"></script>
</head>

<body>

<script type="text/javascript">


$(document).ready(function(){
	//var connection = new NGSI.Connection();

	var connection = new NGSI.Connection("http://13.79.17.152:1026", {
		ngsi_proxy_url: "http://13.79.17.152:3000"
	});
	
	connection.v2.listEntities().then((response) => {
		response.results.forEach((entity) => {
			console.log("Entity: " + JSON.stringify(entity));
		});
	});
		
	connection.getServerDetails().then(
    (response) => {
        // Server information retrieved successfully
        // response.details contains all the details returned by the server.
        // response.correlator transaction id associated with the server response
		console.log(response);
    }, (error) => {
        // Error retrieving server information
        // If the error was reported by Orion, error.correlator will be
        // filled with the associated transaction id
    }
	);
	
	connection.v2.createSubscription({
	   "description": "Testing subscriptions",
	   "subject": {
		   "entities": [
			   {
				   "id": "SAN_demo",
				   "type": "SensorAgent"
			   }
		   ],
		   "condition": {
			   "attrs": [
				   "sensorData"
			   ]
		   }		   
	   },
	   "notification": {
		   "callback": function (notification) {
			   // notification.attrsformat provides information about the format used by notification.data
			   // notification.data contains the modified entities
			   // notification.subscriptionId provides the associated subscription id
			   // etc...
			   console.log("Received notification: " + JSON.stringify(notification));
		   },
		   "attrs": [
			   "sensorData"
		   ]
	   },
	   "expires": "2019-04-05T14:00:00.00Z",
	   "throttling": 5
	}).then(
		(response) => {
			// Subscription created successfully
			// response.correlator transaction id associated with the server response
			console.log("Created subscription: " + JSON.stringify(response));
		}, (error) => {
			// Error creating the subscription
			// If the error was reported by Orion, error.correlator will be
			// filled with the associated transaction id
			console.log(error);
		}
	);	

});

</script>

<div>

                <% if (user) { %>
                    <p>
                        <strong><%= user.userid %></strong><br>
                        <strong><%= user.name %></strong><br>
                        <strong><%= user.role %></strong><br> 
                    </p>
                <% } %>
</div>

</body>
</html>
