/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} 
/* bootstrap hack end */

h2 {
	font-family: "Open Sans";
	font-style: bold;
	font-size: 24px;
	font-weight: bold;
}

h3 {
	font-family: "Open Sans";
	font-style: bold;
	font-size: 18px;	
	margin-top:20px;
	font-weight: bold;
}

table {
	/*
	border-collapse: collapse;
    border-spacing: 10px;
	*/
}

th
{
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
  text-transform: uppercase;    
  padding-left:10px;
  border-bottom: 0;
  border-color: #f3f3f3;  
}

 .panel-heading
{
  font-family: "Open Sans";
  font-style: normal;
  	font-style: bold;
  font-size: 15px;
  text-transform: uppercase;      
}

td
{
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
  padding: 10px;
  text-align:left;
  border-top: 0;
  border-bottom: 5px solid #f3f3f3;
  border-color: #f3f3f3;
}

a.hmi-button{
	font-family: "Open Sans SemiBold";
	font-style: normal;
	font-size: 15px;	
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #da1f4d;/*Button Color*/
    color: #FFF;
	border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;	
	/*
    border-bottom: solid 4px #627295;
    border-radius: 3px;
	*/
}
a.hmi-button:active {/*on Click*/
	font-family: "Open Sans SemiBold";
	font-style: normal;
	font-size: 15px;
	background-color: #ba1a42;
	/*
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);*//*Move down*/
    /*border-bottom: none;*//*disappears*/
}

a.hmi-button-disabled{
	font-family: "Open Sans SemiBold";
	font-style: normal;
	font-size: 15px;	
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
	background-color: #d4d4d4;
    border-color: #d4d4d4;
    color: #888888;
	/*
    border-bottom: solid 4px darkgray;
    border-radius: 3px;	
	*/
}
a.hmi-button-disabled:active {/*on Click*/
}

.ownButton, .ownButton:focus {
	font-family: "Open Sans SemiBold";
	font-style: normal;
	font-size: 15px;
    background-color: #da1f4d;
    border-color: #da1f4d;
    color: #FFF;
	border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.ownButton:active, .ownButton:hover {
	font-family: "Open Sans SemiBold";
	font-style: normal;
	font-size: 15px;
    background-color: #ba1a42;
    border-color: #ba1a42;
    color: #FFF;
	border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;	
}

a.disabled{
	color: gray;
    pointer-events: none;
    cursor: default;
}

ul.nav-tabs {
    padding-left:100px;	
	border-bottom: 0px;
}

ul.nav-tabs li a {
  border-color: transparent;
  background-color: transparent;
  /*margin-bottom: -3px;*/
  color: #111111;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
}

ul.nav-tabs li a:hover {
  border-color: transparent;
  background-color: transparent;
  /*margin-bottom: -3px;*/
  border-bottom: 4px;
  border-bottom: 3px solid #d4d4d4;
  color: #111111;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover, ul.nav-tabs li.active a:focus, ul.nav-tabs li.active a:active{
  border-color: transparent;
  /*margin-bottom: -3px;*/
  border-bottom: 4px;
  border-bottom: 3px solid #da1f4d;
  color: #111111;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 15px;  
}

.tab-content {
  background-color: #f3f3f3;
  padding-left:100px;
  padding-right:100px;
  padding-top: 40px;
  padding-bottom: 50px;
  /*margin-bottom: -3px;*/
  color: #111111;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;  
}
