<!--
<table id="robotsTable" class="table table-responsive">
  <thead>
	<tr>
	  <th scope="col">AGV</th>
	  <th scope="col">Status</th>
	  <th scope="col">Task</th>						  
	  <th scope="col">Task Description</th>						 
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td>17</td>
	  <td>Running</td>
	  <td>0008</td>		
	  <td>Move pallet to x position</td>						  
	</tr>
	<tr>
	  <td>6</td>
	  <td>Running</td>
	  <td>0345</td>						 
	  <td>Move pallet to x position</td>						  
	</tr>
	<tr>
	  <td>13</td>
	  <td>Waiting</td>
	  <td>1345</td>						
	  <td>Move pallet to x position</td>
	</tr>
	<tr>
	  <td>3</td>
	  <td>Idle</td>
	  <td>0</td>						
	  <td>Waiting for task</td>
	</tr>
	<tr>
	  <td>1</td>
	  <td>Charging</td>
	  <td>1</td>						
	  <td>Charging - 8%</td>
	</tr>
	<tr>
	  <td>7</td>
	  <td>Running</td>
	  <td>5643</td>						
	  <td>Move pallet to x position</td>
	</tr>						
  </tbody>
</table>
-->	