<% if (user && user.role == "admin") { %>

<div id="sensorsAlert"></div>
  <div>
    <h3>Create new HMI button</h3>
    <form>
      <div class="form-group">
        <label for="new_sensor_name">Button name:</label>
        <input type="text" class="form-control" id="new_sensor_name" name="new_sensor_name" aria-describedby="new_sensor_nameHelp" placeholder="Enter name for the button">
        <small id="new_sensor_nameHelp" class="form-text text-muted">Please, enter the name for the button.</small>
      </div>
      <div class="form-group">
        <label for="new_sensor_id">Button id:</label>
        <input type="text" class="form-control" id="new_sensor_id" name="new_sensor_id" aria-describedby="new_sensor_idHelp" placeholder="Enter id for the button">
        <small id="new_sensor_idHelp" class="form-text text-muted">Please, enter the id for the button.</small>
      </div>
      <div class="form-group">
        <label for="new_sensor_assign_to">Assign to:</label>
        <select id="new_sensor_assign_to_select" class="form-control" name="new_sensor_assign_to_select"><option value="all">All</option></select>
        <small id="new_sensor_assign_toHelp" class="form-text text-muted">Please, select to which user the button is assigned.</small>
      </div>
      <div class="form-group">
        <button class="btn ownButton" id="createNewSensor">Create new button</button>
      </div>
    </form>
</div>

<% } %>

<div>
  <!--<h2>Current HMI buttons</h2>-->
  <div id="currentOnOffSensors"></div>
</div>
