function submitForm() {
	console.log("submit event");
	var fd = new FormData(document.getElementById("fileinfo"));
	fd.append("label", "WEBUPLOAD");
	$.ajax({
		url: "./api/fp",
		type: "POST",
		data: fd,
		processData: false,  // tell jQuery not to process the data
		contentType: false,   // tell jQuery not to set contentType
		enctype: 'multipart/form-data'
	}).done(function( data ) {
		console.log("Output:");
		console.log( data );
		floorPlanImageScale = $("#floorplanScaleInput").val();
		floorPlanImageXOffset = $("#floorplanXOffsetInput").val();
		floorPlanImageYOffset = $("#floorplanYOffsetInput").val();
		$("#fileinfo").find("input[type=text], input[type=file], input[type=number], textarea").val("");
		floorPlanImage = new Image();
		floorPlanImage.onload = function() {		
			drawImageOnCanvas(floorPlanImage, "#overviewFloorplan");	
			drawImageOnCanvas(floorPlanImage, "#floorplan");
			$("#floorplanInfo").html("<p><strong>floor plan:</strong> " + data.name + ", <strong>scale:</strong> " + data.scale + " mm/px, <strong>x-offset:</strong> " + data.xoffset + " px, <strong>y-offset:</strong> " + data.yoffset + " px</p>");
		};
		floorPlanImage.src = data.imgurl;
	}).fail(function(xhr, status, err){
		alert(xhr.responseText);
	});
		return false;
}
