<div id="newFloorPlan" class="well ownborder">					
	<div class="row">
		<form method="post" class="form-horizontal" id="fileinfo" name="fileinfo" onsubmit="return submitForm();">
			<div class="form-group col-sm-3" style="margin-left:5px; margin-right:5px;">
				<label for="floorplan" class="control-label">Upload new floor plan</label>
				<input type="file" class="form-control" name="floorplan" required />
			</div>
			<div class="form-group col-sm-2" style="margin-right:5px;">
				<label for="name" class="control-label">Floor plan name</label>
				<input type="text" class="form-control" name="name" required />
			</div>
			<div class="form-group col-sm-2" style="margin-right:5px;">
				<label for="scale" class="control-label">Scale (cm/px)</label>
				<input type="number" class="form-control" name="scale" required />
			</div>
			<div class="form-group col-sm-2" style="margin-right:5px;">
				<label for="xoffset" class="control-label">X-offset (px)</label>
				<input type="number" class="form-control" name="xoffset" required />
			</div>
			<div class="form-group col-sm-2" style="margin-right:5px;">
				<label for="yoffset" class="control-label">Y-offset (px)</label>
				<input type="number" class="form-control" name="yoffset" required />
			</div>	
			<div class="form-group col-sm-1">
				<label>&nbsp;</label>							
				<input type="submit" style="margin-top:5px;" value="Upload" />
			</div>
		</form>
	</div>
</div>

<section style="overflow-x: auto; overflow-y: auto;">
	<canvas id="floorplan" style="margin-top:20px; <!--width: 100%; height: auto-->">
		Sorry, your browser doesn't support the &lt;canvas&gt; element.
	</canvas>
	<div id="floorplanInfo" class="text-center"></div>
</section>