<!--						
<table id="humanAgentsTable" class="table table-responsive">
  <thead>
	<tr>
	  <th scope="col">Human Agent</th>
	  <th scope="col">Status</th>
	  <th scope="col">Task</th>						  
	  <th scope="col">Task Description</th>						 
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td>Kalle</td>
	  <td>Working</td>
	  <td>0008</td>		
	  <td>Load AGV X</td>						  
	</tr>
	<tr>
	  <td>Pekka</td>
	  <td>Working</td>
	  <td>0345</td>						 
	  <td>Load AGV X</td>						  
	</tr>
	<tr>
	  <td>Iida</td>
	  <td>Waiting</td>
	  <td>1345</td>						
	  <td>Unload AGV X</td>
	</tr>
	<tr>
	  <td>Petri</td>
	  <td>Idle</td>
	  <td>0</td>						
	  <td>Waiting for task</td>
	</tr>
	<tr>
	  <td>Emilia</td>
	  <td>Lunch</td>
	  <td>1</td>						
	  <td>&nbsp;</td>
	</tr>
	<tr>
	  <td>Jussi</td>
	  <td>Working</td>
	  <td>5643</td>						
	  <td>Unload AGV X</td>
	</tr>						
  </tbody>
</table>	
-->	